body { 
    background-image: url(图片/background.jpg) ;
    font-family:      Georgia, "Times New Roman", Times, serif;
    font-size:        small;
    margin:           0px;
  }
  

#header {
    font: bold 30px "楷体";
    color: white;
    width: 1000px;
    height: 96px;
    margin: 0 auto;
    position: relative;
    background-color: #20392f;
}

#naver {
    width: 1000px;
    margin: 0 auto;
    border-top: 4px solid #084d18;
    border-bottom: 4px solid #084d18;
    background-color: #4f7b5e;
}

nav ul {
    margin: 0px;
    list-style-type: none;
    padding: 5px 0px 5px 0px;
}
nav ul li {
    display: inline;
    padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
    color: #ffffff;
    border-bottom: none;
    font-weight: bold;

}
nav ul li.selected {
    background-color: #3c5d4b;
}

#container-1{
    font: 12px/1 "\u5b8b\u4f53", Tahoma, Geneva, sans-serif;
    color: #333;
    width: 1000px;
    height: 384px;
    margin: 0 auto;
    border-top: 4px solid #084d18;
    border-bottom: 4px solid #084d18;
}

#container-1-1{
    width: 386px;
    height: 384px;
    float: left;
    background-color: rgb(255, 255, 255);
    margin: 0px;
}
  
#container-1-2{
    font: bold 10px "楷体";
    color: white;
    text-align: left;
    
    width: 614px;
    height: 384px;
    float: left;
    background-color: rgb(44, 82, 73); 
    
}

#container-2{
    font: 12px/1 "\u5b8b\u4f53", Tahoma, Geneva, sans-serif;
    color: #333;
    width: 1000px;
    height: 384px;
    margin: 0 auto;
    border-top: 4px solid #084d18;
    border-bottom: 4px solid #084d18;
}

#container-2-1{
    width: 312px;
    height: 384px;
    float: left;
    background-color: #4f7b5e;
}

#container-2-2{
    width: 314px;
    height: 384px;
    float: left;
    background-color: #4f7b5e;
    margin-left: 32px;
}

#container-2-3{
    width: 314px;
    height: 384px;
    float: right;
    background-color: #4f7b5e;
}
  
  footer {
    color:            #efe5d0;
    text-align:       center;
    padding:          15px;
    margin: 0px 10px 10px 10px;
    font-size:        90%;
  }
  
  p {
    padding-left: 30px;
    font-size: 16px;
    font-weight: 100;
    padding-right: 30px;
    color: white;
    font-family: '楷体';
  }

  h1 {
    font-size: 26px;
    font-family: '楷体';
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }
  
  h2 { 
    font-size: 20px;
    font-family: '楷体';
    font-size: bold;
    color: #ffea00;
    text-align: center;
  }
  
  .slogan { color: #954b4b; }
  
  .beanheading {
    text-align:       center;
    line-height:      1.8em;
  }
  
  a:link {
    font-size: 16px;
    font-family: '楷体';
    padding-left: 30px;
    padding-right: 30px;
    color:            #ffffff;
    text-decoration:  none;
  }
  
  a:visited {
    font-size: 16px;
    font-family: '楷体';
    padding-left: 30px;
    padding-right: 30px;
    color:            #ffea00;
    text-decoration:  none;

  }
  
  


  